<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>New Post</title>
</head>

<body>
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/items/">Gallery </span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/items/new">Upload Products <span class="sr-only">(current)</a>
                    </li>
                </ul>
            </div>
            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </nav>
    </div>
    <div class="container">
        <form action="/items/save">
            <h1> Here you can post a product. </h1>
            <p> Name: <input name="txtName" type="text"> </p>
            <p> Model: <input name="txtModel" type="text"> </p>
            <p> Brand: <input name="txtBrand" type="text"> </p>
            <p> Price: <input name="txtPrice" type="text"> </p>
            <p> Image upload: <input name="imgUpload" type="file"></p>
            <!-- <p><a href='/'>Dsiplay all Files File</a></p> -->
            <p><input type="submit"></p>
        </form>
    </div>
</body>

</html>